<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="inventory/header::header-fragment"></header>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- 引入页面头header-fragment -->
    <div th:replace="inventory/header::header-nav"></div>
    <!-- 引入工具栏sidebar-fragment -->
    <div th:replace="inventory/sidebar::sidebar-fragment(${path})"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
            </div><!-- /.container-fluid -->
        </div>
        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
            	<div th:switch="${userRole}"> 
	                <div  th:case="admin" class="row" style="margin-top: 40px;border-top:0px;">
	                    <div class="col-lg-4 col-6">
	                        <!-- small box -->
	                        <div class="small-box bg-info">
	                            <div class="inner">
	                                <h3>库存交易</h3>
	                                <p>记录库存</p>
	                            </div>
	                            <div class="icon">
	                                <i class="fa fa-pencil-square-o"></i>
	                            </div>
	                            <a th:href="@{/inventory/invs}" class="small-box-footer">let's go <i
	                                    class="fa fa-arrow-circle-right"></i></a>
	                        </div>
	                    </div>
	                    <div class="col-lg-4 col-6">
	                        <div class="small-box bg-success">
	                            <div class="inner">
	                                <h3>物料管理</h3>
	                                <p>新增或修改物料</p>
	                            </div>
	                            <div class="icon">
	                                <i class="fa fa-list-alt"></i>
	                            </div>
	                            <a th:href="@{/inventory/items}" class="small-box-footer">More info <i
	                                    class="fa fa-arrow-circle-right"></i></a>
	                        </div>
	                    </div>
	                </div>
	                <div  th:case="inv_add" class="row" style="margin-top: 40px;border-top:0px;">
	                    <div class="col-lg-4 col-6">
	                    </div>
	                    <div class="col-lg-4 col-6">
	                    </div>
	                </div>
	                <div  th:case="inv_search" class="row" style="margin-top: 40px;border-top:0px;">
	                    <div class="col-lg-4 col-6">
	                    </div>
	                    <div class="col-lg-4 col-6">
	                    </div>
	                </div>
	                <div  th:case="item" class="row" style="margin-top: 40px;border-top:0px;">
	                    <div class="col-lg-4 col-6">
	                    </div>
	                    <div class="col-lg-4 col-6">
	                    </div>
	                </div>
                </div>
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- 引入页脚footer-fragment -->
    <div th:replace="inventory/footer::footer-fragment"></div>
</div>
<!-- jQuery -->
<script th:src="@{/inventory/plugins/jquery/jquery.min.js}"></script>
<!-- jQuery UI 1.11.4 -->
<script th:src="@{/inventory/plugins/jQueryUI/jquery-ui.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{/inventory/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/inventory/dist/js/adminlte.min.js}"></script>
</body>
</html>
