<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="inventory/header::header-fragment"></header>
<body class="hold-transition sidebar-mini">
<link th:href="@{/inventory/plugins/select2/select2.css}" rel="stylesheet"/>
<link th:href="@{/inventory/plugins/jqgrid-5.3.0/ui.jqgrid.css}" rel="stylesheet"/>
<link th:href="@{/inventory/plugins/jqgrid-5.3.0/ui.jqgrid-bootstrap.css}" rel="stylesheet"/>
<link th:href="@{/inventory/plugins/jqgrid-5.3.0/ui.jqgrid-bootstrap-ui.css}" rel="stylesheet"/>
<style>
    .ui-jqgrid tr.jqgrow td {
        white-space: normal !important;
        height: auto;
        vertical-align: text-top;
        padding-top: 2px;
    }
</style>
<div class="wrapper">
    <!-- 引入页面头header-fragment -->
    <div th:replace="inventory/header::header-nav"></div>
    <!-- 引入工具栏sidebar-fragment -->
    <div th:replace="inventory/sidebar::sidebar-fragment(${path})"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
            </div><!-- /.container-fluid -->
        </div>
        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">物料管理</h3>
                    </div> <!-- /.card-body -->
                    <div class="card-body">
                        <div class="grid-btn">
                            <button class="btn btn-info" onclick="itemAdd()"><i
                                    class="fa fa-plus"></i>&nbsp;新增
                            </button>
                            <button class="btn btn-info" onclick="itemEdit()"><i
                                    class="fa fa-pencil-square-o"></i>&nbsp;修改
                            </button>
                            <button class="btn btn-danger" onclick="deleteItem()"><i
                                    class="fa fa-trash-o"></i>&nbsp;删除
                            </button>
                        </div>
                        <table id="jqGrid" class="table table-bordered">
                        </table>
                        <div id="jqGridPager"></div>
                    </div><!-- /.card-body -->
                </div>
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
        <div class="content">
            <!-- 模态框（Modal） -->
            <div class="modal fade" id="itemModal"  role="dialog" aria-labelledby="itemModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h6 class="modal-title" id="itemModalLabel">Modal</h6>
                        </div>
                        <div class="modal-body">
                            <form id="itemForm" method="POST" th:action="@{/inventory/items/save}" th:object="${item}" onsubmit="return false;">
                                <div class="form-group">
                                    <div class="alert alert-danger" id="edit-error-msg" style="display: none;">
                                        	错误信息展示栏。
                                    </div>
                                </div>
                                <input type="hidden" class="form-control" id="itemNumber" th:field="*{itemNumber}">
                                <div class="form-group">
                                    <label for="itemDesc" class="control-label">描述:</label>
                                    <input type="text" class="form-control" id="itemDesc"   th:field="*{itemDesc}" maxlength="100"
                                           placeholder="请输入物品描述" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="itemBrand" class="control-label">品牌:</label>
                                    <input type="text" class="form-control" id="itemBrand"  th:field="*{itemBrand}"  maxlength="20"
                                           placeholder="请输入物品品牌" required="true" >
                                </div>
                                <div class="form-group">
                                    <label for="itemModel" class="control-label">型号:</label>
                                    <input type="text" class="form-control" id="itemModel" th:field="*{itemModel}"  maxlength="20"
                                           placeholder="请输入物品型号" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="vendor" class="control-label">供应商:</label>
                                    <select class="form-control select2" style="width: 100%;" id="vendor"  th:field="*{vendor}"
                                        data-placeholder="请选择供应商...">
	                                    <th:block th:if="${null == vendorList}">
	                                        <option value="0" selected="selected">默认分类</option>
	                                    </th:block>
	                                    <th:block th:unless="${null == vendorList}">
	                                        <th:block th:each="c : ${vendorList}">
	                                            <option th:value="${c.vendorName}" th:text="${c.vendorName}">
	                                            </option>
	                                        </th:block>
	                                    </th:block>		
                                	</select>
                                </div>
                                <div class="form-group">
                                    <label for="vendorPn" class="control-label">供应商(Part Number):</label>
                                    <select class="form-control select2" style="width: 100%;" id="vendorPn" th:field="*{vendorPn}"
                                        data-placeholder="请选择供应商(Part Number)...">
	                                    <th:block th:if="${null == vendorList}">
	                                        <option value="0" selected="selected">默认分类</option>
	                                    </th:block>
	                                    <th:block th:unless="${null == vendorList}">
	                                        <th:block th:each="c : ${vendorList}">
	                                            <option th:value="${c.vendorPn}" th:text="${c.vendorPn}">
	                                            </option>
	                                        </th:block>
	                                    </th:block>		
                                	</select>
                                </div>
                                <div class="form-group">
                                	<input id="vmi"  type="checkbox"  th:field="*{vmi}" th:value="${vmi}" 
								      th:checked="${null !=item and null !=item.vmi} ?true:false">VMI</checkbox>
                                </div>
                                <div class="form-group">
                                    <label for="safeVmi" class="control-label">安全库存数:</label>
                                    <input type="number" class="form-control" id="safeVmi" th:field="*{safeVmi}" maxlength="6"
                                           placeholder="请输入安全库存数" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="itemUnit" class="control-label">单位:</label>
                                    <input  class="form-control" id="itemUnit" th:field="*{itemUnit}" maxlength="10"
                                           placeholder="请输入单位" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="expireDate" class="control-label">有效期:</label>
                                    <div class="radio-inline">
								    	<input type="radio" th:field="*{expireDate}" value="360天" />
	    								<label th:for="${#ids.prev('expireDate')}"  >360天</label>
	    								<input type="radio" th:field="*{expireDate}" value="720天"/>
	    								<label th:for="${#ids.prev('expireDate')}"  >720天</label>
	    								<input type="radio" th:field="*{expireDate}" value="1080天"/>
	    								<label th:for="${#ids.prev('expireDate')}"  >1080天</label>
	    								<input type="radio" th:field="*{expireDate}"  value="others"/>
	    								<label th:for="${#ids.prev('expireDate')}"  >其他(天)</label>
	    								<input type="number" class="form-control" id="other" th:field="*{expireDate}" style="display: none;"
                                           placeholder="请输入有效期"  maxlength="20">  
							    	</div>
                                </div>                                                             
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" id="saveButton">确认</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal -->
        </div>
    </div>
    <!-- /.content-wrapper -->
    <!-- 引入页脚footer-fragment -->
    <div th:replace="inventory/footer::footer-fragment"></div>
</div>
<!-- jQuery -->
<script th:src="@{/inventory/plugins/jquery/jquery.min.js}"></script>
<!-- jQuery UI 1.11.4 -->
<script th:src="@{/inventory/plugins/jQueryUI/jquery-ui.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{/inventory/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/inventory/dist/js/adminlte.min.js}"></script>
<script th:src="@{/inventory/plugins/jqgrid-5.3.0/jquery.jqGrid.min.js}"></script>
<script th:src="@{/inventory/plugins/jqgrid-5.3.0/grid.locale-cn.js}"></script>
<!-- sweetalert -->
<script th:src="@{/inventory/plugins/sweetalert/sweetalert.min.js}"></script>
<!-- Select2 -->
<script th:src="@{/inventory/plugins/select2/select2.full.min.js}"></script>
<script th:src="@{/inventory/dist/js/public.js}"></script>
<script th:src="@{/inventory/dist/js/item.js}"></script>
</body>
</html>
