<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<aside th:fragment="sidebar-fragment(path)" class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
<!--     <a th:href="@{/index}" class="brand-link">     -->
	
<!-- 	  <img th:src="@{/inventory/dist/img/Silgan_RGB.jpg}" border="0" width="0" height="0" onload="AutoResizeImage(0,0,this)" alt="534 X 800"/> -->
<!--     </a> -->

<!-- 	<a href="@{/index}" class="logo"> -->
<!-- 		<img th:src="@{/inventory/dist/img/Silgan_RGB.jpg}" /> -->
<!--     </a> -->

<!-- 	<a th:href="@{/index}" class="brand-link"> -->
<!--       <img  th:src="@{/inventory/dist/img/Silgan_RGB.jpg}" alt="AdminLTE Logo" class="brand-image elevation-5" -->
<!--            style="opacity: .8"> -->
<!--       <span class="brand-text font-weight-light">Silgan</span> -->
<!--     </a> -->

	 <!-- Brand Logo -->
    <a th:href="@{/index}" class="brand-link">
      <img th:src="@{/inventory/dist/img/AdminLTELogo.png}" alt="AdminLTE Logo" class="brand-image"
           style="opacity: .8">
      <span class="brand-text font-weight-light">Inventory Application</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
	        <div th:switch="${userRole}"> 
	        <nav class="mt-2" th:case="admin">        	
	            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
	                data-accordion="false">
	                <!-- Add icons to the links using the .nav-icon class
	                     with font-awesome or any other icon font library -->                
	                <li class="nav-header">首页</li>
	                <li class="nav-item">
	                    <a th:href="@{/index}" th:class="${path}=='index'?'nav-link active':'nav-link'">
	                        <i class="nav-icon fa fa-dashboard"></i>
	                        <p>
	                                              首页
	                        </p>
	                    </a>
	                </li>
		            <li class="nav-header" >库存管理</li>
	                  <li class="nav-item">
	                    <a th:href="@{/inventory/invs}" th:class="${path}=='invs'?'nav-link active':'nav-link'">
	                        <i class="nav-icon fa fa fa-pencil-square-o"></i>
	                        <p>
	                                                库存交易
	                        </p>
	                    </a>
	                  </li>
	                  <li class="nav-item">
	                    <a th:href="@{/inventory/invsearch}" th:class="${path}=='invsearch'?'nav-link active':'nav-link'">
	                        <i class="fa fa-comments nav-icon" aria-hidden="true"></i>
	                        <p>
	                                              库存交易查询
	                        </p>
	                    </a>
	                  </li>
	                  <li class="nav-item">
	                    <a th:href="@{/inventory/importinv}" th:class="${path}=='importinv'?'nav-link active':'nav-link'">
	                        <i class="fa fa-plus nav-icon" aria-hidden="true"></i>
	                        <p>
	                          VMI入库
	                        </p>
	                    </a>
	                  </li>
	                  <li class="nav-item">
	                    <a th:href="@{/inventory/vmisearch}" th:class="${path}=='vmisearch'?'nav-link active':'nav-link'">
	                        <i class="fa fa-search nav-icon" aria-hidden="true"></i>
	                        <p>
	                          VMI入库记录查询
	                        </p>
	                    </a>
	                  </li>
	                  <li class="nav-item">
	                    <a th:href="@{/inventory/mp}" th:class="${path}=='mp'?'nav-link active':'nav-link'">
	                        <i class="fa fa-shopping-cart nav-icon" aria-hidden="true"></i>
	                        <p>
	                          	领料计划
	                        </p>
	                    </a>
	                  </li>
	                  <li class="nav-item">
	                    <a th:href="@{/inventory/mpsearch}" th:class="${path}=='mpsearch'?'nav-link active':'nav-link'">
	                        <i class="fa fa-bookmark nav-icon" aria-hidden="true"></i>
	                        <p>
	                                                查看领料计划	
	                        </p>
	                    </a>
	                </li>
	                <li class="nav-item">
	                    <a th:href="@{/inventory/invqtysearch}" th:class="${path}=='invqtysearch'?'nav-link active':'nav-link'">
	                        <i class="fa fa-bars nav-icon" aria-hidden="true"></i>
	                        <p>
	                                                库存查询	
	                        </p>
	                    </a>
	                </li>
	                <li class="nav-item">
	                    <a th:href="@{/inventory/vmiqtysearch}" th:class="${path}=='vmiqtysearch'?'nav-link active':'nav-link'">
	                        <i class="fa fa-envelope nav-icon" aria-hidden="true"></i>
	                        <p>
	                          VMI库存查询	
	                        </p>
	                    </a>
	                </li>
	                <li class="nav-header">物料管理</li>
	                <li class="nav-item">
	                    <a th:href="@{/inventory/items}" th:class="${path}=='items'?'nav-link active':'nav-link'">
	                        <i class="fa fa-list-alt nav-icon" aria-hidden="true"></i>
	                        <p>
	                                                物料管理
	                        </p>
	                    </a>
	                </li>	
	            </ul>
	        </nav>
	        <!-- /.sidebar-menu -->
    		<nav class="mt-2" th:case="inv_add">        	
	            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
	                data-accordion="false"> 
	                <li class="nav-header">首页</li>
	                <li class="nav-item">
	                    <a th:href="@{/index}" th:class="${path}=='index'?'nav-link active':'nav-link'">
	                        <i class="nav-icon fa fa-dashboard"></i>
	                        <p>
	                                              首页
	                        </p>
	                    </a>
	                </li>            
		            <li class="nav-header" >库存管理</li>
	                <li class="nav-item">
	                    <a th:href="@{/inventory/invs}" th:class="${path}=='invs'?'nav-link active':'nav-link'">
	                        <i class="nav-icon fa fa fa-pencil-square-o"></i>
	                        <p>
	                                                库存交易
	                        </p>
	                    </a>
	                </li>
	            </ul>
	        </nav>
	        <nav class="mt-2" th:case="inv_search">        	
	            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
	                data-accordion="false"> 
	                <li class="nav-header">首页</li>
	                <li class="nav-item">
	                    <a th:href="@{/index}" th:class="${path}=='index'?'nav-link active':'nav-link'">
	                        <i class="nav-icon fa fa-dashboard"></i>
	                        <p>
	                                              首页
	                        </p>
	                    </a>
	                </li>            		            
	                <li class="nav-item">
	                    <a th:href="@{/inventory/invsearch}" th:class="${path}=='invsearch'?'nav-link active':'nav-link'">
	                        <i class="fa fa-comments nav-icon" aria-hidden="true"></i>
	                        <p>
	                                              库存交易查询
	                        </p>
	                    </a>
	                </li>
	            </ul>
	        </nav>
	        <nav class="mt-2" th:case="item">        	
	            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
	                data-accordion="false">
	                <li class="nav-header">首页</li>
	                <li class="nav-item">
	                    <a th:href="@{/index}" th:class="${path}=='index'?'nav-link active':'nav-link'">
	                        <i class="nav-icon fa fa-dashboard"></i>
	                        <p>
	                                              首页
	                        </p>
	                    </a>
	                </li>            
	                <li class="nav-header">物料管理</li>
	                <li class="nav-item">
	                    <a th:href="@{/inventory/items}" th:class="${path}=='items'?'nav-link active':'nav-link'">
	                        <i class="fa fa-list-alt nav-icon" aria-hidden="true"></i>
	                        <p>
	                                                物料管理
	                        </p>
	                    </a>
	                </li>	
	            </ul>
	        </nav>
    		
    	</div>
    </div>
    <!-- /.sidebar -->
</aside>
</html>