<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.silgan.inventory.dao.ItemVendorMapper">
  <resultMap id="BaseResultMap" type="com.silgan.inventory.entity.ItemVendor">
    <result column="item_number" jdbcType="INTEGER" property="itemNumber" />
    <result column="vend_id" jdbcType="VARCHAR" property="vendId" />
  </resultMap>
  <delete id="deleteByItemNumber" parameterType="java.lang.Integer">
    delete from tb_item_vendor
    where item_number = #{itemNumber,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.silgan.inventory.entity.Item">
   	insert into tb_item_vendor (item_number, vend_id) values
	  <foreach item="vendId" collection="vendIds" separator=",">
	    (#{itemNumber}, #{vendId})
	  </foreach>
  </insert>
 
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select vend_id, vendor_name, vendor_pn, vendor_rank, create_time
    from tb_item_vendor
    where vend_id = #{vendId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select vend_id, vendor_name, vendor_pn, vendor_rank, create_time
    from tb_item_vendor
  </select>
</mapper>